<h1>{{ Nursery.NameNursery }}</h1>
<div>
    <p>Description : {{ Nursery.Description }}</p>
    <p>Date : {{ Nursery.datePublication|date("d/m/Y") }}</p>
</div>
<div>
    <h2>Contact</h2>
    <p>Prénom : {{ Nursery.Contact.firstname }}</p>
    <p>Nom : {{ Nursery.Contact.lastname }}</p>
    <p>Téléphone : {{ Nursery.Contact.phone }}</p>
    <p>Email : {{ Nursery.Contact.mail }}</p>
</div>
<div>
    <h2>Lieu</h2>
    <p>Ville : {{ Nursery.Town }}</p>
    <p>Latitude : {{ Nursery.Coordinates.Latitude }}</p>
    <p>Longitude : {{ Nursery.coordinates.Longitude }}</p>
</div>
<p>
    {% if file_exist( './uploads/images/'~Nursery.ImageRepository~'/'~Nursery.ImageFileName ) and Nursery.ImageFileName !="" %}
        <img src="/uploads/images/{{ Nursery.ImageRepository }}/{{ Nursery.ImageFileName }}" class="img-thumbnail" alt="Image"/>
    {% endif %}
</p>